.title {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.title h1 {
  font-size: 10vw;
  margin: 0px;
}

.title img {
  width: 9vw;
}

nav {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  gap: 4vw;
}

input[type="number"] {
  font-size: 2vw;
}

.node {
  display: inline-flex;
  position: absolute;
  transform: translate(825px, 50px);
  border-radius: 55px;
  width: 50px;
  height: 50px;
  background-color: lightgrey;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: 700;
  transition-duration: 1s;
}
